{% if error %}
<div>{{ error.message }}</div>
{% endif %}
 
<form action="{{ path('login_check') }}" method="post">
    <label for="email">Email Address:</label>
    <input id="email" type="text" name="_email" value="{{ last_email }}" />
    <label for="password">Password:</label>
    <input id="password" type="password" name="_password" /> <input type="submit" name="login" />
</form>