{%extends "FirstUserBundle:Default:index.html.twig"%}
{%block container %}
<style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #5d891a;
        }
</style>
<div class="container" >
    <h1>Hello </h1>
</div>
 {%endblock%}