{%extends "FirstUserBundle:Default:index.html.twig"%}
{%block container %}
<style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #5d891a;
        }
</style>
<div class="container" >
    <form id="form" class="well" method="POST" action="{{path('login_login_signup')}}" data-validate="parsley">
         <table width="100%" cellpadding="5" cellspacing="5">
            <tr> 
                <td colspan="6" align="center" style="color:#ff0000; font-style:italic;">{% for flashMessage in app.session.getFlashBag.get('error') %}
            <div class="flash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}</td>
            </tr>
            <tr> 
                <td colspan="6" align="center" style="color:#ff0000; font-style:italic;">{% for flashMessage in app.session.getFlashBag.get('success') %}
            <div class="flash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}</td>
            </tr>
            <tr> 
                <td align="center" colspan="6"><h2>Sign Up Your Account Now!..</h2></td>
            </tr>
            <tr> 
                <td><label>Email Address</label></td>
                <td><input type="text" name="email" class="input-xlarge" data-trigger="change" data-required="true" data-type="email" placeholder="Please enter your email address" /></td>
            </tr>
            <tr> 
                <td><label>First Name</label></td>
                <td><input type="text" name="firstname" class="input-xlarge" data-trigger="change" data-required="true" placeholder="Please enter your first name" /></td>
            </tr>
            <tr> 
                <td><label>Last Name</label></td>
                <td><input type="text" name="lastname" class="input-xlarge" data-trigger="change" data-required="true" placeholder="Please enter your last name" /></td>
            </tr>
            <tr> 
                <td><label>Password</label></td>
                <td><input type="password" id="password" name="password" class="input-xlarge" data-trigger="change" data-required="true" placeholder="Please enter your desired password" "data-parsley-minlength"="[6]" />
                </td>
            </tr>
            <tr> 
                <td><label>Confirm Password</label></td>
                <td>
                <input type="password" id="passwordRe" name="passwordRe" class="input-xlarge" data-trigger="change" data-required="true" data-equalto="#password" placeholder="Please enter again your desired password" "data-parsley-minlength"="[6]" />
                </td>
            </tr>
            <tr> 
                <td colspan="8" style="text-align:center;">
                <button class="btn btn-primary" type="submit" >Create Account</button> | <a href="{{path('login_login_login')}}" >&raquo; Back to Login Page</a></td>
            </tr>
        </table>
    </form>
</div>
 {%endblock%}