{%extends "FirstUserBundle:Default:index.html.twig"%}
{%block container %}
<style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #5d891a;
        }
</style>
<div class="container" >
            <div class="content"> 
                <h1>Registration Success!..</h1>
                You are now registered succesfully, Please check our confirmation through to your respective email use and <a href="{{path('login_login_homepage')}}" >&raquo;login</a>here!..
            </div>
       
</div>
 {%endblock%}