{%extends "FirstUserBundle:Default:index.html.twig"%}
{%block stylesheets %}
<style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #5d891a;
        }
        a{font-family:arial; color:#fff;}
        a:hover{text-decoration:underline; color:#000;}
        h2{color:#fff; font-family:tahoma; font-style:italic; font-size:22px;}
        h2 span{color:#ffb802; font-family:tahoma; font-style:italic; font-size:22px;}
</style>
{%endblock%}
   {%block container %}
<div class="container">
    <h2>Welcome back, <span>{{user.firstName}} </span></h2>
</div> 

    <table width="100%" cellpadding="5" cellspacing="5">
            <tr> 
                <td colspan="8" style="text-align:center;">
                <a href="{{path('login_login_editaccount')}}" >Edit Account</a> | <a href="{{path('login_login_editpassword')}}" >Change Password</a> | <a href="{{path('login_login_logout')}}" >Logout</a></td>

            </tr>
    </table>

    {%endblock%}